<h2>SIGN UP</h2>

<form
  (ngSubmit)="onSubmit(signUpForm.value)"
  [formGroup]="signUpForm">
  <input
    formControlName="login"
    class="form-input"
    placeholder="Login"
    type="text">

  <input
    formControlName="password"
    class="form-input"
    placeholder="Password"
    type="password">

  <input
    formControlName="passwordConfirm"
    class="form-input"
    placeholder="Confirm password"
    type="password">

  <button
    [disabled]="!signUpForm.valid"
    type="submit"
    class="button button_md">Sign up</button>
</form>
