<div [ngSwitch]="authActive$ | async"
  class="switch">
  <button
    (click)="authActive$.next(authType.login)"
    class="button button_rect button_md"
  >
    Log In
  </button>
  <button
    (click)="authActive$.next(authType.signup)"
    class="button button_rect button_md"
  >
    Sign Up
  </button>

  <grades-login *ngSwitchCase="authType.login"
    (logIn)="logIn$.next($event)"
  >
  </grades-login>
  <grades-signup *ngSwitchCase="authType.signup"
     (signUp)="signUp$.next($event)"
  >
  </grades-signup>
</div>

