@import '../../../../../styles/variables';

:host {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 20px;
}

.switch > button {
  width: 50%;
}

.button {

  background-color: transparent;
  color: $bag-white;
  padding-top: 10px;
  width: 100%;
  font-size: $font-size;

  &_rect {
    border-radius: 0;
  }

  &_md {
    padding: 20px 50px;
  }
}
