<div
  (mouseenter)="showProgress$.next(true)"
  (mouseleave)="showProgress$.next(false)"
  class="book">

  <div class="book__image-container"
  >
    <img
      [src]="book.url"
      [alt]="book.title"
      width="270"
      height="400"
      class="book__image"
    />

    <book-progress *ngIf="showProgress$ | async"
      [pagesProgress]="0"
      [bookPagesCount]="book.pagesCount"
      (progressUpdate)="updateBookProgress($event)"
      class="book__progress book_shadowed"
    >
    </book-progress>
  </div>

  <div class="book__info">
    <div>{{ book.title }}</div>
    <div>{{ book.author }}</div>
    <div>
      <span>Количество страниц: </span>
      <span>{{ book.pagesCount }}</span>
    </div>
  </div>

</div>
