.flex {
  display: flex;

  &_justify_spaced {
    justify-content: space-between;
  }

  &_justify_around {
    justify-content: space-around;
  }

  &_align_centered {
    align-items: center;
  }

  &_align_ended {
    align-items: flex-end;
  }
}