@import './variables';

// buttons
//
.button {

  background-color: transparent;
  color: $grades-white;
  width: 100%;
  font-size: $font-size;

  &_rect {
    border-radius: 0;
  }

  &_md {
    padding: 20px 0;
  }
}


// forms
//
.form-input {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  background-color: transparent;
  border: 1px solid $grades-white;
  color: $grades-white;
  font-size: $font-size;
}

// lists
//
.list {
  margin: 0;
  padding: 0;
}
