@import '../../../../../styles/variables';

.timeline {
  list-style: none;
  border-right: 2px solid $bag-grey;

  &__grade {
    border-bottom: 1px dashed $bag-grey;
    padding: 10px 0;
  }

  .books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-auto-rows: minmax(400px, auto);
    grid-gap: 2em;
    max-width: 1280px;
  }
}
